<form>
  {{view Ember.TextField valueBinding="newEntryName"}}
  <input type='submit' value='Add' {{action addEntry}}>
</form>

<ul>
{{#each controller}}
  <li>
    {{name}}
    {{#if winner}}
      <span {{bindAttr class='winner latest'}}>WINNER</span>
    {{/if}}
  </li>
{{/each}}
</ul>

<button {{action 'drawWinner'}} {{bindAttr disabled='allWinners'}}>Draw Winner!</button>

{{newEntryName}}
